.agenda .header {
	border-bottom: 1px solid #121212;
 	margin-right: 15px;
}

.agenda .header h1 {
	position: relative;
	bottom: -7px;
    font-size: 1.9em;
    font-weight: 500;
    padding-right: 20px;
    padding-bottom: 7px;
    text-transform: uppercase;
    margin-right: 15px;
    font-family: "Montserrat", sans-serif;
	color: rgba(55, 55, 55, 0.9);
	
	line-height: 1.0em;
    margin-bottom: .1em;
    margin-top: .1em;
}

.agenda .bloque_raya {
	margin-left: 0;
	padding-left: 0;
	border-bottom: 1px solid #121212;
}

.agenda .bloque_raya .masinformacion {
	font-size: 1.15em;
	padding: 5px 20px;
	border: 1px solid #121212;
	text-transform: uppercase;
	display: inline-block;
	margin-bottom: -1px;
	transition: all 0.5s;
	
	position: absolute;
	bottom: 0px;
}

.agenda .bloque_raya a .masinformacion {
	color: #121212;
}

.agenda .bloque_raya a:hover .masinformacion {
	color: #121212;
	text-decoration: none;
	background-color: #5af9ff;
}

.agenda .bloque_raya .flecha {
	transition: all 0.5s;
}

.agenda .bloque_raya a:hover .flecha {
	display: inline-block;
	transform: translateX(10px);
}