/* Link patch */

article a {
	background: 
		linear-gradient(white, white),
		linear-gradient(white, white),
		linear-gradient(#0074d9, #0074d9);
	background-size: 
		.05em 1px,
		.05em 1px,
		1px 1px;
	background-repeat: 
		no-repeat,
		no-repeat,
		repeat-x;
	text-shadow: 
		0.03em 0 white, -0.03em 0 white, 0 0.03em white, 0 -0.03em white, 
		0.06em 0 white, -0.06em 0 white, 0.09em 0 white, -0.09em 0 white, 
		0.12em 0 white, -0.12em 0 white, 0.15em 0 white, -0.15em 0 white;
	background-position: 
		0 90%,
		100% 90%,
		0 93%;
	text-decoration: none;
	color: #000;
	transition: color .15s;
}

article a:hover, article a:focus {
	color: #0074d9;
	background: transparent;
	transition: color .25s;
	text-decoration: none;
}